<?xml version="1.0"?>
<robot name="staggerlite_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <xacro:include filename="$(find staggerlite_description)/urdf/staggerlite_essential.xacro" />


  <link name="base_footprint"/>

  <!-- base_link --> <!--Actual body/chassis of the robot-->
  <link name="base_link">
    <!-- <inertial>
      <mass value="${base_mass}" />
      <origin xyz="0 0 0" />
        <box_inertia  />
    </inertial>     -->
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
          <!-- <box size="${base_length} ${base_width} ${base_height}" /> -->
          <mesh filename="package://staggerlite_description/meshes/body.stl"/>
      </geometry>
      <material name="White" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
          <box size="${base_length} ${base_width} ${base_height}" />
      </geometry>
    </collision>
  </link>
  
  <!-- caster -->
  <link name="caster_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <sphere radius="${caster_radius}" />
      </geometry>
      <material name="Black" />
    </visual>  
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	        <sphere radius="${caster_radius}" />
      </geometry>
    </collision>   
    <inertial>
      <mass value="${caster_mass}" />
      <origin xyz="0 0 0" />
      <inertia ixx="0.001" ixy="0.0" ixz="0.0"
               iyy="0.001" iyz="0.0" 
               izz="0.001" />
    </inertial>
  </link>

  <link name="imu_link">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <box size="${imu_length} ${imu_width} ${imu_height}" />
      </geometry>
      <material name="Blue" />
    </visual>  
  </link>

  <link name="lidar_link">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <cylinder length="${lidar_height}" radius="${lidar_radius}" />
      </geometry>
      <material name="Red" />
    </visual>  
  </link>
  
  <joint name="base_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link" />
      <origin xyz="0 0 00.0565" rpy="0 0 0"/>
  </joint>

  <joint name="caster_joint" type="fixed">
    <parent link="base_link"/>
    <child link="caster_link"/>
    <origin xyz="-0.15 0.0 -0.0465" rpy="0 0 0"/>
  </joint>

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.075" rpy="0 0 0"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.105" rpy="0 0 0"/>
  </joint>

  <!-- Wheels -->
  <xacro:wheel lr="left" parent="base_link" dir="1" z_offset="-0.02" roll="${-1.0 * M_PI_2}"/>
  <xacro:wheel lr="right" parent="base_link" dir="-1" z_offset="-0.02" roll="${-1.0 * M_PI_2}"/>

</robot>