<launch>
  <arg name="scan_topic"      value="scan"/>
  <arg name="imu_topic"      value="imu"/>

  <!--  ************** GAZEBO Simulator ***************  -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="world_name" default="$(find staggerlite_gazebo)/worlds/HSH.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- urdf xml robot description loaded on the Parameter Server-->
  <param name="robot_description" command="$(find xacro)/xacro $(find staggerlite_description)/urdf/staggerlite_gazebo.xacro" /> 

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" ></node> 
  <!-- start robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" >
    <param name="publish_frequency" type="double" value="50.0" />
  </node>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model staggerlite -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw) -param robot_description"/> 

  <!--使用node启动cartographer会导致tf没有完全发布前建图就先启动了-->
  <!-- <node name="cartographer_node" pkg="cartographer_ros"
  </node-->

  <include file="$(find staggerlite_mapping)/launch/carto_mapping.launch"> 

  </include>

  <!-- <node name="rviz" pkg="rviz" type="rviz" required="true"
      args="-d $(find staggerlite_mapping)/rviz/mapping.rviz" /> -->
  <node name="rviz" pkg="rviz" type="rviz" required="true" />

</launch>
